.container {
    @media only screen and (min-width: 768px) {
        margin: 20px auto;
        padding: 10px 25px;
    }
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
    padding: 10px;
}

.header {
    text-align: center;
    color: #c00;
}

.main {
    @media only screen and (min-width: 768px) {
        padding:  25px;
        min-height: calc(100vh - 380px);
    }
    padding:  10px;
    background-color: #fff;
    color: #222;
    min-height: calc(100vh - 350px);
    margin-bottom: 20px;
    border-radius: 5px;
}

.footer {
    font-size: 11px;
    text-align: center;
}

