.videoLayout {
    @media only screen and (min-width: 1000px) {
        display: flex;
    }
    color: #fff;
    display: block;
}

.playerWrapper {
    @media only screen and (min-width: 1000px) {
        margin: 0 20px 0 0;
        width: calc(80% - 20px);
    } 
    display: block;
    margin-bottom: 50px;

    .player {
        margin-bottom: -15px;
    }

    h2 {
        @media only screen and (min-width: 1000px) {
            font-size: 32px;
        }
        margin-bottom: 2px;
    }

    .time {
        margin-left: 5px;
        padding: 3px 10px;
        background-color: #000;
        display: inline-block;
    }
}

.thumbnails {
    @media only screen and (min-width: 1000px) {
        width: 20%;
    }
    width: 100%;
    margin-bottom: 20px;

    .thumbnail {
        background-color: transparent;
        border: none;
        box-shadow: none;
        color: #fff;
        text-align: left;
        width: 100%;
        height: auto;
        position: relative;
        margin: 0 0 30px;
        padding: 0;
        cursor: pointer;

        img {
            width: 100%;
        }

        .title {
            font-size: 20px;
            font-weight: 700;
            text-align: center;
        }

        .time {
            position: absolute;
            left: 0;
            display: inline-block;
            background-color: #000;
            padding: 2px 5px;
        }
    }
}

.sortButtons {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;

    .btnSort {
        border: none;
        border-radius: 5px;
        background-color: #faf6e4;
        margin: 0 5px;

        &.active {
            background-color: #fdd101;
        }
    }

    label {
        color: #fff;
        margin-right: 5px;
    }

    .keywordsWrapper {
        position: relative;
    }

    .message {
        position: absolute;
        top: -20px;
        right: 0;
        color: #e33501;
    }
}
