.homeWrapper {
    .heading {
        @media only screen and (min-width: 768px) {
            padding: 0 30px;
        }
        font-family: "SpriteGraffiti-Regular";
        font-size: 75px;
        letter-spacing: .5rem;
        line-height: 1;
        color: #666;
        margin-block-start: 20px;
        margin-block-end: 10px;
        padding: 0 10px;
    }

    .content {
        @media only screen and (min-width: 768px) {
            margin: 0 25px 20px;
        }
        margin: 0 10px 10px;
    }

    img {
        width: 100%;
        padding: 0;

        &.bottomImage {
            margin-bottom: -15px;
        }
    }
}
