@font-face {
  font-family: 'SpriteGraffiti-Regular';
  src: url('./fonts/SpriteGraffiti-Regular.woff2') format('woff2'),
    url('./fonts/SpriteGraffiti-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('./fonts/roboto-regular-webfont.woff') format('woff');
}

body {
  margin: 0;
  background-color: #013151;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link,
a:visited {
  color: #05f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}