.menu {
    @media only screen and (min-width: 985px) {
        display: flex;
        justify-content: center;
        max-height: 130px;
    }
    width: 100%;
    max-width: 1400px;
    margin: 5px auto;
}

.logoWrapper {
    @media only screen and (min-width: 985px) {
        width: 150px;
        margin: 0 0;
        overflow: hidden;
    }
    width: 100px;
    margin: 0 auto;

    img {
        width: 100%;
    }
}

.listInline {
    @media only screen and (min-width: 985px) {
        font-size: 40px;
        padding-inline-start: 40px;
        justify-content: start;
    }
    font-family: "SpriteGraffiti-Regular";
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    font-size: 30px;
    padding-inline-start: 0;
    margin: 0;

    a {
        @media only screen and (min-width: 985px) {
            margin: 45px 20px 0 0;
        }
        margin: 0 10px;
        font-weight: 500;

        &:link,
        &:visited {
            color: #fff;
            text-decoration: none;
        }

        &:hover {
            color: #fdd101;
            text-decoration: underline;
        }

        &.active:link,
        &.active:visited,
        &.active:hover {
            color: #fdd101;
            text-decoration: none;
        }
    }
}

.mainContent {
    border-top: 1px solid #fdd101;
    display: flex;
    justify-content: center;
}
